<div class="card mt-2">
  <h5 class="card-header">Search</h5>
  <div class="card-body">
    <%= search_form_for q do |f| %>
        <div class="form-group d-flex">
            <%= f.search_field :title_cont, placeholder: "Enter Title...", class: "form-control w-50 me-2" %>
            <%= f.submit "Search!", class: "btn btn-primary" %>
        </div>
    <% end %>
  </div>
</div>
