<% if user_signed_in? && current_user.is_admin? %>
    <%= render 'home/admin_dashboard' %>
<% elsif user_signed_in? && current_user.is_staff? %>
    <%= render 'home/staff_dashboard' %>
<% elsif user_signed_in? && current_user.is_student? %>
    <%= render 'home/student_dashboard' %>
<% else %>
  <div class="row">
    <div class="col">
      <div class="index-card text-center">
          Welcome To ApnaCollege
          <br>
          Connect, Learn, and Grow - Together with ApnaCollege Community. 
          <br>
          <br>
          Write an Email to apnacollege.co.in@gmail.com to get your college registered.
          <br>
          Our team will get back to you within 24 hours.
      </div>
    </div>
  </div>

<% end %>