<div class="card mt-3">
  <h5 class="card-header">New Subject</h5>
  <div class="card-body">
    <%= render 'form', subject: @subject %>

    <%= link_to '< Back', subjects_path, class: "btn btn-secondary mt-2" %>
  </div>
</div>